<header class="app_header">
	<a href="{{ path('home') }}" class="app_logo" title="{{ 'pages.home.title' | trans | capitalize }}">
		<img src="{{ asset('assets/images/logo_adndd.png') }}" alt=""/>
	</a>

	<input class="app_navigation_toggle" type="checkbox" id="menu_btn"/>
	<label class="app_navigation_toggle_icon" for="menu_btn">
		<span class="navicon"></span>
	</label>

	<nav class="app_navigation">
		<ul>
			<li>
				<a href="#" title="about">
					about
				</a>
			</li>

			<li>
				<a href="#" title="play">
					play
				</a>
			</li>

			<li>
				<a href="#" title="game">
					game
				</a>
			</li>

			{% if app.user %}
				<li>
					<a href="#" {% if 'user' in app.request.get('_route') %} class="active" {% endif %}>{{ app.user.email is not null ? app.user.email : app.user.fullname }}</a>

					<ul class="app_navigation_dropdown">
						<li>
							<a href="#" title="titre1">
								titre1
							</a>
						</li>

						<li>
							<a href="#" title="titre2">
								titre2
							</a>
						</li>

						<li>
							<a href="#" title="titre3">
								titre3
							</a>
						</li>

						<li>
							<a href="#" title="titre4">
								titre4
							</a>
						</li>

						<li>
							<a href="{{ path('app_logout') }}" title="logout">
								{{ 'logout' | trans | capitalize }}
							</a>
						</li>
					</ul>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_login') }}" title="{{ 'login' | trans | capitalize }}">
						login
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>
