<header class="app_header">
	<a href="{{ path('home') }}" class="app_logo" title="{{ 'pages.home.title' | trans | capitalize }}">
		<img src="{{ asset('assets/images/logo_ibu.png') }}" alt=""/>
	</a>

	<input class="app_navigation_toggle" type="checkbox" id="menu_btn"/>
	<label class="app_navigation_toggle_icon" for="menu_btn">
		<span class="navicon"></span>
	</label>

	<nav class="app_navigation">
		<ul>
			{% if app.user %}
						<li>
				<a href="{{ path('app_calendar') }}" title="Calendrier">
					Calendrier
				</a>
			</li>
				<li>
					<a href="#" {% if 'user' in app.request.get('_route') %} class="active" {% endif %}>{{ app.user.email is not null ? app.user.email : app.user.fullname }}</a>

					<ul class="app_navigation_dropdown">
						<li>
							<a href="{{ path('app_logout') }}" title="logout">
								{{ 'Déconnexion' | trans | capitalize }}
							</a>
						</li>
					</ul>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_login') }}" title="{{ 'login' | trans | capitalize }}">
						Connexion
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>
